@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.first {
    color: white;
    background: black;
    animation: animatedBackground 20s linear infinite;
}

.first h1, .first a {
    margin: 0 auto;
}

.first .action__container {
    margin: 0 auto;
    width: 351px;
}

.first .action {
    text-align: center;
}

.sketch {
    position: absolute;
    top: 0;
    z-index: -1;
}